.btn-acao {
  min-width: 90px;
  height: 33px;
  padding: 0 12px;
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #eab308; 
  color: #111827;            
  transition: background-color 0.2s;
}

.btn-acao:hover {
  background-color: #ca8a04;
}

.btn-acao-vermelho {
  min-width: 90px;
  height: 33px;
  padding: 0 12px;
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc2626; /* bg-red-600 */
  color: #ffffff;            /* white */
  transition: background-color 0.2s;
}

.btn-acao-vermelho:hover {
  background-color: #b91c1c; /* bg-red-700 */
}

.divider_yellow {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-top: 1px solid #eab308; /* cor semelhante ao yellow-500 do Tailwind */
}

.card1 {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.75rem; /* rounded-xl */
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
}
.card1:hover {
  transform: scale(1.1);
}
.card1 p:first-child {
  font-size: 0.875rem; /* text-sm */
  color: #d1d5db;      /* gray-300 */
}
.card1 p:last-child {
  font-size: 1.5rem;   /* text-2xl */
  font-weight: bold;
}

card1.no-hover:hover {
  transform: none !important;
}

main {
  overflow-y: auto;
}